<!DOCTYPE html>
<!--Agam Patel - 301277925 - June 04, 2023-->
<html lang="en">
    <head>
        <meta charset="urf-8">
        <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    </head>
    <body>
        <div class="main">
            <header>
                <img src="/images/logo-no-background.png" class="logo">
                <h1>Portfolio Page</h1>
            </header>
            <div class="Elements">
                <nav>
                    <a href="/" class="navigation">Home</a>
                    <a href="/aboutme" class="navigation" id="active">About Me</a>
                    <a href="/projects" class="navigation">Projects</a>
                    <a href="/services" class="navigation">Services</a>
                    <a href="/contact" class="navigation">Contact</a>
                    <a href="/login" class="navigation">Login</a>
                </nav>
            </div>
            <div class="personalinfo">
                <img src="/images/profilepic.jpg">
                <p class="info">
                    I aspire to be a software engineer because I enjoy coming up with novel and sophisticated approaches to problems. I am motivated by the infinite ways in which technology may improve our daily lives and professional environments.<br><br>
I am happiest when I am faced with a difficult problem that I must investigate thoroughly before arriving at the most effective and elegant solution. As an inborn problem solver, I take great pleasure in removing roadblocks and expanding the scope of what is possible.<br><br>
My path is built on a foundation of perpetual study. I am always learning something new and improving my expertise to keep up with the ever-changing business world. I am continuously looking for methods to improve my skill set, whether it means learning a new programming language or investigating cutting-edge technology.

                </p>
            </div><br>
            <hr>
            <div class="smnc">
                <a href="/images/Agam_Patel_RES.pdf" target="_blank"><h5 class="link">Resume.pdf</h5></a>                
            </div>
            <br>
            <footer class="Elements">
                <h6>Copyright &nbsp;&nbsp;&copy;&nbsp;&nbsp; Centennial College - COMP 213 - Agam Patel - 301277925 - Term Project</h6>
            </footer>
        </div>
    </body>
</html>