<!DOCTYPE html>
<!--Agam Patel - 301277925 - June 04, 2023-->
<html lang="en">
    <head>
        <meta charset="urf-8">
        <link rel="stylesheet" href="/stylesheets/style.css " type="text/css">
    </head>
    <body>
        <div class="main">
            <header>
                <img src="/images/logo-no-background.png" class="logo">
                <h1>Portfolio Page</h1>
            </header>
            <div class="Elements">
                <nav>
                    <a href="/" class="navigation">Home</a>
                    <a href="/aboutme" class="navigation">About Me</a>
                    <a href="/projects" class="navigation">Projects</a>
                    <a href="/services" class="navigation">Services</a>
                    <a href="/contact" class="navigation" id="active">Contact</a>
                </nav>
            </div>

            <header>
                <h2>Enquiry Form:</h2>
            </header>
            <div class="contactform">
            <form action="mailto:callsunnysavemoney@gmail.com" method="GET">
                <table align="center">
                <tr>
                    <td><label>First Name:*</label></td>
                    <td><input type="text" name="FirstName" required="required"></td>
                </tr>
                <tr>
                    <td><label>Last Name:*</label></td>
                    <td><input type="text" name="LastName" required="required"></td>
                </tr>
                <tr>
                    <td><label>Phone Number:</label></td>
                    <td><input type="text" name="PhoneNumber"></td>
                </tr>
                <tr>
                    <td><label>Email:*</label></td>
                    <td><input type="email" name="Email" required="required"></td>
                </tr>
                <tr>
                    <td><label>Additional Comments:</label></td>
                    <td><textarea name="Comments" rows="5" cols="50"></textarea></td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><input type="reset" name="Reset" value="Reset">&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="Submit" value="Submit"></td>
                </tr>
            </table>
            </form>

            <footer class="Elements">
                <h6>Copyright &nbsp;&nbsp;&copy;&nbsp;&nbsp; Centennial College - COMP 229 - Agam Patel - 301277925 - Assignment 1</h6>
            </footer>
        </div>
    </body>
</html>