<!DOCTYPE html>
<!--Agam Patel - 301277925 - June 04, 2023-->
<html lang="en">
    <head>
        <meta charset="urf-8">
        <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    </head>
    <body>
        <div class="main">
            <header>
                <img src="/images/logo-no-background.png" class="logo">
                <h1>Portfolio Page</h1>
            </header>
            
            <div class="Elements">
                <nav>
                  <a href="/" class="navigation"  id="active">Home</a>
                  <a href="/aboutme" class="navigation">About Me</a>
                  <a href="/projects" class="navigation">Projects</a>
                  <a href="/services" class="navigation">Services</a>
                  <a href="/contact" class="navigation">Contact</a>
                </nav>
            </div>
            
            <div class="personalinfo">
                <img src="/images/profilepic.jpg">
                <p class="info">
                    <label class="home"><strong>Name:</strong></label>Agam Patel<br>
                    <label class="home"><strong>Team:</strong></label>Solo<br>
                    <label class="home"><strong>Phone Number:</strong></label>(647) 879-****<br>
                    <label class="home"><strong>Fax Number:</strong></label>(905) 840-9622<br>
                    <label class="home"><strong>Email Address:</strong></label>
                    <a href="mailto:agam940940@gmail.com">agam940940@gmail.com</a><br>
                    <br><br>
                    <label class="missionStatement"><strong>Mission Statement:</strong></label><br><br>
                    <label class="missionStatement"><i>"Facilitating Creative Action<br>with State-of-the-Art Software Tools"</i></label>
                </p>
            </div>
            <hr>
            <fieldset>
              <legend><h3>Review 1</h3></legend>
              <div class="part1">
                  <p class="reviewcontent">It was an absolute pleasure to work with Agam. He is very professional, and I would describe his style as “Underpromise and overdeliver”.<br><br> - David Patric</p>
                  <p>Rating submitted<br>
                  April 07, 2022</p>
              </div>
              <div class="part2">
                  <ul class="reviewcontent">
                  <li>Overall Rating - 5/5<br></li>
                  <li>Responsiveness Rating - 5/5<br></li>
                  <li>Knowledgeability Rating - 5/5<br></li>
                  <li>Professionalism Rating - 5/5<br></li>
                  <li>Usefulness of Website - N/A<br></li>
                  <li>Value of Service - 5/5<br></li>
                  </ul>
              </div>
          </fieldset>

            <fieldset>
                <legend><h3>Review 2</h3></legend>
                <div class="part1">
                    <p class="reviewcontent">I had the pleasure of working with Agam Patel, and I can state without a doubt that having him as our software developer made a world of difference. He brought an outstanding degree of professionalism and enthusiasm to our project.<br><br> - Yi Lin</p>

                    <p>Rating submitted<br>
                    February 05, 2021</p>
                </div>
                <div class="part2">
                    <ul class="reviewcontent">
                    <li>Overall Rating - 5/5<br></li>
                    <li>Responsiveness Rating - 5/5<br></li>
                    <li>Knowledgeability Rating - 5/5<br></li>
                    <li>Professionalism Rating - 5/5<br></li>
                    <li>Usefulness of Website - 5/5<br></li>
                    <li>Value of Service - 5/5<br></li>
                    </ul>
                </div>
            </fieldset>
            <br>
            <footer class="Elements">
                <h6>Copyright &nbsp;&nbsp;&copy;&nbsp;&nbsp; Centennial College - COMP 213 - Agam Patel - 301277925 - Term Project</h6>
            </footer>

        </div>
    </body>
</html>