<!DOCTYPE html>
<!--Agam Patel - 301277925 - June 04, 2023-->
<html lang="en">
    <head>
        <meta charset="urf-8">
        <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    </head>
    <body>
        <div class="main">
            <header>
                <img src="/images/logo-no-background.png" class="logo">
                <h1>Portfolio Page</h1>
            </header>
            <div class="Elements">
                <nav>
                    <a href="/" class="navigation">Home</a>
                    <a href="/aboutme" class="navigation">About Me</a>
                    <a href="/projects" class="navigation">Projects</a>
                    <a href="/services" class="navigation" id="active">Services</a>
                    <a href="/contact" class="navigation">Contact</a>
                    <a href="/login" class="navigation">Login</a>
                </nav>
            </div>

            <fieldset>
                <legend><h3>Service 1</h3></legend>
                <div class="prop">
                    <img src="/images/service1.jpg"></a>
                </div>
                <div class="prop">
                    <p class="info">
                        <label class="home"><strong>Title:</strong></label>Web Application Development<br>
                        <label class="home"><strong>Description:</strong></label>If you're majoring in software engineering, you can start your own web development business. HTML, CSS, JavaScript, and popular frameworks like React, Angular, or Django are just some of the languages and tools that may be used to create websites that are both responsive and user-friendly. Depending on the needs of your customers, you can develop either a static website, a dynamic web application, or an e-commerce platform.<br>
                    </p>
                </div>
            </fieldset>
            <fieldset>
                <legend><h3>Service 2</h3></legend>
                <div class="prop">
                    <img src="/images/service2.jpg">
                </div>
                <div class="prop">
                    <p class="info">
                        <label class="home"><strong>Title:</strong></label>Mobile Application Development<br>
                        <label class="home"><strong>Description:</strong></label>Considering the proliferation of mobile devices, the ability to provide app development services may prove to be rather marketable. Android app development can be done in Java or Kotlin, while iOS app development can be done in Swift or Objective-C. Whether your interest lies in creating apps for productivity, pleasure, or utility, you can put your programming abilities to good use making apps for mobile devices.
                        <br>
                    </p>
                </div>
            </fieldset>
            <fieldset>
                <legend><h3>Service 3</h3></legend>
                <div class="prop">
                    <img src="/images/service3.jpg"></a>
                </div>
                <div class="prop">
                    <p class="info">
                        <label class="home"><strong>Title:</strong></label>Software Testing and Quality Assurance<br>
                        <label class="home"><strong>Description:</strong></label>As a student of software engineering, you can also help with quality assurance and testing. To guarantee that software programmes are bug-free, performant, and match the appropriate specifications, many businesses and organisations subject them to rigorous testing. Manual testing, automated testing, performance testing, and user acceptability testing are all services you may provide to clients to assist them find and fix software bugs before releasing it to the public. As a result, their applications will have a higher standard of quality and reliability.
                        <br>
                    </p>
                </div>
            </fieldset>
            <br>
            <footer class="Elements">
                <h6>Copyright &nbsp;&nbsp;&copy;&nbsp;&nbsp; Centennial College - COMP 213 - Agam Patel - 301277925 - Term Project</h6>
            </footer>
        </div>
    </body>
</html>